<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjmkJ8ppIgsX7zMStCq3n8zVRqxB4mEBg</string>
	<key>GCM_SENDER_ID</key>
	<string>757358146583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friendbet.app</string>
	<key>PROJECT_ID</key>
	<string>friendbet-c0fce</string>
	<key>STORAGE_BUCKET</key>
	<string>friendbet-c0fce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757358146583:ios:37b803bb6bb3f46f97d852</string>
</dict>
</plist>